[submodule ".config/nvim/bundle/vim-gitgutter"]
	path = .config/nvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git

[submodule ".config/nvim/bundle/supertab"]
	path = .config/nvim/bundle/supertab
	url = https://github.com/ervandew/supertab

[submodule ".config/nvim/bundle/delimitMate"]
	path = .config/nvim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate

[submodule ".config/nvim/bundle/vim-commentary"]
	path = .config/nvim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary

[submodule ".config/nvim/bundle/vim-floaterm"]
	path = .config/nvim/bundle/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule ".config/nvim/bundle/fzf.vim"]
	path = .config/nvim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
